* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: hsl(75, 94%, 57%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grey: hsl(0, 0%, 20%);
  --neutral-dark-grey: hsl(0, 0%, 12%);
  --neutral-off-black: hsl(0, 0%, 8%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--neutral-off-black);
  font-family: "Inter";
  color: var(--neutral-white);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  background-color: var(--neutral-dark-grey);
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#buttons {
  display: flex;
  flex-direction: column;
}

button {
  margin: 6px 5px;
  padding: 12px 5px;
  width: 17vw;
  font-size: 1vw;
  font-weight: 700;
  font-family: "Inter";
  border: none;
  border-radius: 10px;
  color: var(--neutral-white);
  background: var(--neutral-grey);
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-green);
  color: var(--neutral-dark-grey);
}

#img_prt img {
  width: 7vw;
  border-radius: 60%;
}

h1 {
  padding: 5px;
  font-weight: 500;
}

h5 {
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-green);
}

p {
  padding: 20px 10px;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 375px) {
  button {
    margin: 10px 10px;
    padding: 13px 5px;
    width: 70vw;
    font-size: 3.2vw;
  }


  #img_prt img {
    width: 25vw;
  }
}
